#space{
    border-style: solid;
    border-width: 1px;
    width: 300px;
}

#tf_question{
    border-style: solid;
    border-width: 1px;
    width: 600px;
    height: 100px;
    font-size: 20px;
    text-align: center;
}

#tf_false{
    border-style: solid;
    border-width: 1px;
    width: 40px;
}

#tf_true{
    border-style: solid;
    border-width: 1px;
    width: 40px;
}
#dark-light{
    border-width: 1px;
    border-style: solid;
    width: 150px;
}

.light-mode{
    color:black;
    background-color:white;
}

.dark-mode{
    color:white;
    background-color:#303545;
}